%h1
  %span{class: "label label-primary"}
    =@company.name
%h2
  Notowania od
  %span{class: "label label-info"}
    =@quotes.last.date
  do
  %span{class: "label label-info"}
    =@quotes.first.date
%table.table.table-striped.table-hover
  %thead
    %tr
      %th open
      %th high
      %th low
      %th close
      %th vol
      %th date
  %tbody
    - @quotes.each do |quote|
      %tr
        %td=quote.open
        %td=quote.high
        %td=quote.low
        %td=quote.close
        %td=quote.vol
        %td=quote.date
