%h1 Twój portfel 
%p Portfel inwestycyjny dostosowany do profilu inwestora

.row
  .col-md-12
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th Nazwa spółki
          %th Kwota
      %tbody
        - @companies.each do |company|
          %tr
            %td=company[:name]
            %td=number_with_precision(company[:amount], :precision => 2)


